name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */12 * * *' # Cada 12 horas
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Sync Data from Google Cloud
        run: npm run sync-data
        env:
          GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
          SIGNED_GCS_BUCKET_NAME: ${{ secrets.SIGNED_GCS_BUCKET_NAME }}
          GCP_SERVICE_ACCOUNT_JSON: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}
          SIGNED_OBJECT_MAP: ${{ secrets.SIGNED_OBJECT_MAP }}

      - name: Build with Next.js
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build_site
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
